# Discord bot account token
API_TOKEN=xxxxxxxxxxx
CLIENT_ID=xxxxxxxxxxx
BOT_DEBUG=true
REDIS_URL=redis://localhost
AIRTABLE_KEY=xxxxxxxxxxx #legacy
AIRTABLE_BASE=xxxxxxxxxxx #legacy
IS_DEV=True
GOVRN_GUILD_ID=xxxxxxxxxxx
# URL for protocol API server
PROTOCOL_URL=http://localhost:4000/graphql
# Token for protocol api server
PROTOCOL_TOKEN=xxxxxxxxxxx
# Logfile path for Kevin
LOGFILE_PATH=

# TASKS
# How often the task wakes up
TASK_WAKEUP_PERIOD_MINUTES=<>
# Minimum time between loop execution
WEEKLY_REPORT_MINIMUM_TIME_BETWEEN_LOOP_SECONDS=<>
# 0-6 for Monday through Sunday
WEEKLY_REPORT_WEEKDAY=<>
# Format: `HH:MM:SS.microseconds`. ex: 04:10:00.000000
WEEKLY_REPORT_TIME=<>
# True or False
WEEKLY_REPORT_ENABLE=<>

# TESTING
TEST_CHANNEL=
