API_TOKEN=xxxxxxxxxxx # discord bot account token
CLIENT_ID=xxxxxxxxxxx
BOT_DEBUG=true
REDIS_URL=redis://localhost
AIRTABLE_KEY=xxxxxxxxxxx #legacy
AIRTABLE_BASE=xxxxxxxxxxx #legacy
IS_DEV=True
GOVRN_GUILD_ID=xxxxxxxxxxx
PROTOCOL_URL=http://localhost:4000/graphql # url for protocol api server
PROTOCOL_TOKEN=xxxxxxxxxxx # token for protocol api server

# TASKS
TASK_WAKEUP_PERIOD_MINUTES=# how often the task wakes up
WEEKLY_REPORT_MINIMUM_TIME_BETWEEN_LOOP_SECONDS=# minimum time between loop execution
WEEKLY_REPORT_WEEKDAY=#0-6 for Monday thru Sudnay
WEEKLY_REPORT_TIME=#ISO8601 Time with or without tz
WEEKLY_REPORT_ENABLE=#True or False

# TESTING
TEST_CHANNEL=