{
  "singleQuote": true,
  "useTabs": false,
  "semi": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "**/*.{hbs}",
      "options": {
        "parser": "glimmer"
      }
    }
  ]
}
